@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap');

:root {
  --color-light-gray: #dddddd;
  --color-primary-dark: #2a2a2a;
  --color-secondary-dark: #383838;

  --color-project-spotenu: #1db954;
  --color-project-4eddit: #ed7f61;
  --color-project-rappi4: #d85946;
  
  --color-project-spotenu-hover: #179242;
  --color-project-4eddit-hover: #c7694f;
  --color-project-rappi4-hover: #b44939;
  --color-project-to-do-list-hover: #bebebe;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  height: 100vh;
  background: var(--color-light-gray);
}

.wrapper {
  max-width: 80vw;
  height: 100vh;
  margin: 0 auto;
}

nav {
  position: fixed;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-gray);
  width: 100%;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin-right: auto;
}

li a:hover {
  opacity: .5;
  transform: scaleY(2, 3);
  cursor: pointer;
}

li a {
  margin-right: 3em;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark);
}

/* Hero */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.hero img {
  position: absolute;
  z-index: -1;
  width: 70vw;
  opacity: .01;
}

.hero h1 {
  font-size: 5rem;
  margin-bottom: 12rem;
}

#subtitle-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#subtitle-container span {
  position: absolute;
  margin-bottom: 270px;
  font-size: 1.5rem;
}

#subtitle-container button {
  border: none;
  background: transparent;
  opacity: .5;
}

#hero-arrow-down {
  font-size: 1.3rem;
}

#hero-arrow-down:hover {
  cursor: pointer;
  color: var(--color-secondary-dark);
}

/* About */

.about-container {
  background-color: #fff;
  padding: 2rem;
}

.about-container h3 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

.second-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

#sub {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.about-container img {
  width: 80%;
  margin: 0 auto;
}

#btn-projects {
  position: absolute;
  left: 880px;
  margin-top: 450px;
  padding: 1rem 2rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  color: var(--color-light-gray);
  font-size: 1rem;
  transition: color .2s;
}

#btn-projects i {
  margin-right: 0.5rem;
  font-size: 1rem;
}

#btn-projects:hover {
  cursor: pointer;
  background-color: var(--color-secondary-dark);
}

#xtra-space {
  padding-top: 70px;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  width: 94.48%;
  height: 100%;
  padding: 2rem;
}

.projects h3 {
  color: var(--color-light-gray);
  font-size: 2.5rem;
  padding: 50px 0px;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-spotenu {
  background-color: var(--color-project-spotenu);
  padding: 9rem;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
}

.project-spotenu:hover {
  cursor: pointer;
  background-color: var(--color-project-spotenu-hover);
}

.project-4eddit {
  background-color: var(--color-project-4eddit);
  padding: 9rem;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}

.project-4eddit:hover {
  cursor: pointer;
  background-color: var(--color-project-4eddit-hover);
}

.project-rappi4 {
  background-color: var(--color-project-rappi4);
  padding: 9rem;
  color: #fff;
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;

}

.project-rappi4:hover {
  cursor: pointer;
  background-color: var(--color-project-rappi4-hover);
}

.project-to-do-list {
  background-color: var(--color-light-gray);
  padding: 9rem;
  color: var(--color-secondary-dark);
  font-weight: bold;
  font-size: 2.4rem;
  text-align: center;
}

.project-to-do-list:hover {
  cursor: pointer;
  background-color: var(--color-project-to-do-list-hover);
}

/* Contact */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 94.48%;
  height: 100%;
  padding: 2rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  gap: 1rem;
  font-size: 1.2rem;
}

.contact h2 {
  font-size: 2.5rem;
}

/* Footer */

footer {
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: white;
}

footer p {
  opacity: .7;
}

@media (max-width: 414px) {
  body {
    overflow-x: hidden;
  }

  #navbar {
    position: fixed;
  }

  #navbar ul li {
    margin-left: 10px;
  }

  .menu-icon i {
    color: var(--color-secondary-dark);
    position: absolute;
    left: 40px;
    font-size: 1.5rem;
  }

  .wrapper {
    max-width: 100vw;
    height: 100vh;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 2.5rem;
  }
  
  .about-container h3 {
    font-size: 2rem;
  }

  .second-container {
    display: flex;
    flex-direction: column;
  }

  .second-container img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
  }

  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    width: 85%;
    height: 100%;
    padding: 2rem;
  }

  .projects h3 {
    margin-top: 10px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

  .project-to-do-list {
    width: 100vw;
  }

  #btn-projects {
    left: 1px;
    margin-top: -1px;
    position: relative;
  }

  .contact {
    max-width: 85%;
  }

  .contact p {
    text-align: center;
  }

}